
body {
   	background-image: url("../images/concrete_seamless.png"); 
   	font-family: Georgia,"Times New Roman",serif;
	
}

.navbar-brand{

 	width:220px;  
	background-color: #4aaaa5;
	
	text-align: center;
	padding: 14px 14px;	/* pad top/bottom */

	font-size: 22px;  /* 50px total for brand */
	/* color: #fff;    this does not work */
}

.navbar-brand#logo{
	color:#fff;
}



#about_me{
	background-color: #fff;
	padding: 16px 20px 20px 40px;
	color: #777;
	font-size: 12px;
}

#about_me_hdr{
	font-size: 26px;
	color: #4aaaa5;
}



#profile-picture{
	float:left;
	width:45%;
	height:45%;
	padding-right: 20px;
}

#about_txt1{
 
}

#connect{
	background-color: #fff;
	padding: 25px;
	color: #4aaaa5;
}

#connect_me_hdr{
	font-size: 18px;

}



#connect_links{

	display: flex;
	justify-content: space-around;

}

.panel-footer{
	clear: both;
	position:absolute;
	bottom:0;

	width: 100%;
	background: #666;

	text-align: center;
	padding: 19px 19px;	/* pad top/bottom */

	font-size: 12px;  /* 50px total for brand */
	color: white;

	border-top-color: #4aaaa5;
	border-top-width: 5px;
	border-top-style: solid;
}


/* Note: this is working at the header level, 
not at the bootstap column level */

@media screen and (max-width: 980px) {
	.navbar-brand{
		background-color: yellow;
	}

	.navbar-brand#logo{
		color:lightgray;
	}
}
 
@media screen  and (max-width: 768px) {
	.navbar-brand{
		background-color: red;
	}
	.navbar-brand#logo{
		color:white;
	}
}

@media screen  and (max-width: 640px) {
	.navbar-brand{
		background-color: blue;
	}
	.navbar-brand#logo{
		color:white;
	}
}

/* This code works also */
/* @media screen  and (min-width: 769px) and (max-width: 980px) {
	.navbar-brand{
		background-color: yellow;
	}
}
 
@media screen and (min-width: 641px) and (max-width: 768px) {
	.navbar-brand{
		background-color: red;
	}
}

@media screen and (min-width: 1px) and (max-width: 640px) {
	.navbar-brand{
		background-color: blue;
	}
} */
