/* style_contact.css */


#content_area{
	padding-left: 30px;
}

#name, #email, #message, #submit{
	padding-top: 15px;
}

#nameb{width: 600px}

#emailb{width: 600px}

#messageb{
	width: 600px;
	height: 200px;
	
}

#submit{
	padding-top: 20px;
	padding-bottom: 20px;
}

#submitb{
	color: #fff;
	background-color: #4aaaa5;
	padding: 5px 15px 5px 15px;
}